<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="null" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/speedtest/null" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" subStatusCode="200" statusReason="Null" statusDescription="Null" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
